
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card mini-stat bg-primary text-white">
            <div class="card-body">
                <div class="mb-4">
                    <div class="float-left mini-stat-img mr-4">
                        <img src="~/Public/assets/images/services-icon/01.png" alt="">
                    </div>
                    <h5 class="font-size-16 text-uppercase mt-0 text-white-50">Recipes</h5>
                    <h4 class="font-weight-medium font-size-24">
                        1,685 - @ViewBag.foodCount
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mini-stat bg-primary text-white">
            <div class="card-body">
                <div class="mb-4">
                    <div class="float-left mini-stat-img mr-4">
                        <img src="~/Public/assets/images/services-icon/02.png" alt="">
                    </div>
                    <h5 class="font-size-16 text-uppercase mt-0 text-white-50">Users</h5>
                    <h4 class="font-weight-medium font-size-24">
                        52,368 - @ViewBag.userCount
                    </h4>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- end row -->
<!-- end row -->
	</div>
</div>

